@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
   <nav class="navbar">
       <ul class="nav">
    
            <li class="nav-item"><a class="nav-link">Browse Items</a></li>
            <li class="nav-item"><a class="nav-link">About Us</a></li>
            <li class="nav-item"><a class ="nav-link">Cart</a></li>

       </ul>
   </nav>
</div>
