html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    
 margin:0;
  margin-bottom: 60px;
}

input[type=number]{
    width:80px;
}

label[for=size]{
    width:125px;
}

#detail-img{
    width:100%;
    height:contain;
}