@{
	ViewData["Title"] = "Browse Categories";
}
<div class="text-center">
	<h1 class="display-4">Categories</h1>
	@{
		foreach (Category category in ViewBag.Categories)
		{
			<a href ="/Menu/Products/@category.Id">@category.Name</a>
		}
	}
</div>